div.page-no-container {
  position: absolute;
  top: 637px;
  left: 130px;
  width: 201px;
  height: 156px;
  font-family: 'Montserrat', sans-serif;
}

span.current-page {
  font-size: 93px
}

span.total-pages {
  font-size: 48px;
  opacity: 0.5
}

div.social-icons {
  position: absolute;
  top: 692px;
  left: 1067px;
  width: 207px;
  height: 46px;
}

img {
  padding-left: 20px;
}