div.page-no-container {
  position: absolute;
  top: 90%;
  left: 15%;
  width: 201px;
  height: 156px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

span.current-page {
  font-size: 93px
}

span.total-pages {
  font-size: 48px;
  opacity: 0.5
}

div.social-icons {
  position: absolute;
  top: 95%;
  right: 12%;
  width: 207px;
  height: 46px;
}

img {
  padding-left: 20px;
}

svg {
  fill: white;
}