/* factor out repeating css - font family? */

div.logo {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 170px;
  height: 33px;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  color: white;
}

div.button-position {
  position: absolute;
  top: 10%;
  right: 15%;
  /* width: 143px;
  height: 47px; */
}

button {
  background-color: #299BA3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 30px;
}