@font-face {
  font-family: great-wishes;
  src: url(../fonts/great-wishes.otf);
}

div.centered-hero {
  font-family: great-wishes;
  font-size: 130px;
  color: white;

  /* perfectly centered */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}